body{
    background-color: #293163;
    font-family: 'JetBrains Mono', monospace;
}

h1{
    border: 2px solid #38189E;
    padding: 10px;
    background-color: #4F3F9D;
    font-size: 40px;
    font-weight: bold;
    border-radius: 5px;
    color: #D48ADB;  /* on the phone */                  
}

h1:hover{
    background-color: #57789D;
    cursor: pointer;
}

p{
   font-size: 25px;
   padding: 10px;
   line-height: 2;
   background-color: #6E3F9D;
   color: #D48ADB;
}

body.lightTheme{
    background-color: #6c7fff;
    font-family: 'JetBrains Mono', monospace;
}

body.lightTheme h1{
    border: 2px solid #5825ff;
    padding: 10px;
    background-color: #7d63ff;
    font-size: 40px;
    font-weight: bold;
    border-radius: 5px;
    color: #fac2ff;  /* on the phone */    
}

body.lightTheme h1:hover{
    background-color: #8cc2ff;
    cursor: pointer;
}

body.lightTheme p{
    font-size: 25px;
    padding: 10px;
    line-height: 2;
    background-color: #b062ff;
    color: #fac3ff;
 }

 #themeToggle{
    background-color: transparent;
    border: none;
    cursor: pointer;
 }

 .themeIcon{
    width: 20px;
    height: 20px;
    object-fit: contain;
 }

 .menu{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #293163;
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    border-radius: 5px;
 }

 .menu li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #4F3F9D;
    border-bottom: 1px solid #6E3F9D;
 }

 .menu li a:hover{
    background-color: #57789D;
 }

 .menu.show{
    display: block;
 }

 .navbar{
    position: relative;
 }

 .hamburgerIcon{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
 }

.hamburgerIcon span{
    background-color: #000000;
    height: 3px;
    width: 100%;
    border-radius: 5px;
}
