body{
    background-color: #293163;
    font-family: 'JetBrains Mono', monospace;
}

h1{
    border: 2px solid #38189E;
    padding: 10px;
    background-color: #4F3F9D;
    font-size: 40px;
    font-weight: bold;
    border-radius: 5px;
    color: #D48ADB;  /* on the phone */                  
}

h1:hover{
    background-color: #57789D;
    cursor: pointer;
}

p{
   font-size: 25px;
   padding: 10px;
   line-height: 2;
   background-color: #6E3F9D;
   color: #D48ADB;
}

body.lightTheme{
    background-color: #D48ADB;
}

body.lightTheme h1{
    color: #ffffff;
}

body.lightTheme h1:hover{
    background-color: #111111;
    cursor: pointer;
}
